{{ $url := ( .Destination | safeURL )}}
{{ $title := ( .Text | safeHTML )}}

{{ if eq $title "youtubeplayer"}}
<div class="video-wrapper">
  <iframe loading="lazy" src="" allowfullscreen title="YouTube Video"></iframe>
</div>

{{ else if eq $title "bilibiliplayer" }}
<div class="video-wrapper">
  <iframe src="{{$url}}" scrolling="no" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
</div>

{{ else }}
<a class="link" href="{{ $url }}" {{ with .Title}} title="{{ . }}"
  {{ end }}{{ if strings.HasPrefix .Destination "http" }} target="_blank" rel="noopener" {{ end }}>{{ $title }}</a>
{{ end }}